blinker==1.4
boto3==1.17.16
botocore==1.20.16
cachelib==0.1.1
click==7.1.2
Flask==1.1.2
Flask-Mail==0.9.1
Flask-MySQL==1.5.2
Flask-Session==0.3.2
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
PyMySQL==1.0.2
python-dateutil==2.8.1
PyYAML==5.4.1
s3transfer==0.3.4
six==1.15.0
urllib3==1.26.3
Werkzeug==1.0.1
